*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.title{
    width: 100%;
    position: relative;
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.list-box{
    width: 100%;
    display: flex;
    position: relative;
    padding: .5rem;
    justify-content: center;
    margin: auto;
}

.task-input{
    width: 400px;
    padding: 1rem;
    border: 2px solid gray;
    border-radius: 5px;
}
.task-btn{
    display: inline-block;
    border:2px solid green;
    border-radius: 5px;
    margin-left: .5rem;
    padding: 1rem;
    background-color: green;
    color:#FFF;
    cursor: pointer;
}

.task-btn:hover{
    background-color: #FFF;
    color:green;
    font-weight: bold;
}

.task-list{
    width: 75%;
    position: relative;
    
}
.task-container{
    width: 100%;
    position: relative;
    display: flex;
    padding: 0;
    text-align: center;
    border-radius: .2rem;
    margin: .5rem 0;
    cursor: pointer;
    justify-content: space-evenly;
}

.task-item{
    border:2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: .5rem;
}

.task-delete-btn{
    display: inline-block;
    border:2px solid red;
    border-radius: 5px;
    padding: 1rem;
    background-color: red;
    color:#FFF;
    cursor: pointer;
}

.task-delete-btn:hover{
    background-color: #FFF;
    color:red;
    font-weight: bold;
}

.task-status-btn{
    display: inline-block;
    border:2px solid rgb(76, 40, 237);
    border-radius: 5px;
    padding: 1rem;
    background-color: rgb(76, 40, 237);
    color:#FFF;
    cursor: pointer;
}

.task-status-btn:hover{
    background-color: #fff;
    color:rgb(76, 40, 237);
    font-weight: bold;
}

.no-data-found{
    color:red;
    padding: 1rem;
    text-align: center;
    width: 100%;
    display: block;
}

.success{
    border:none;
    text-decoration: line-through;
    color:green;
}

@media (min-width:321px) and (max-width:727px){
    .task-list{
        width: 100%;
    }
    .task-container{
        justify-content: flex-start;
    }
}